<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOOM!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="container mx-auto p-4">
    <div id="room_id" data-id="<%= room_id %>"></div>
    <h1 class="text-6xl font-thin my-4">LOOM: <%= room_id %></h1>
    <div class="video-container"></div>
  </main>
  <script src="client.js"></script>
</body>
</html>
